<?xml version="1.0" encoding="UTF-8"?>
<Configuration>
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout
                pattern="%d %p %C{1.} [%t] %m%n" />
        </Console>
    </Appenders>
 
    <Loggers>
        <!-- LOG everything at INFO level -->
        <Root level="info">
            <AppenderRef ref="Console" />
        </Root>
 
        <!-- LOG "com.baeldung*" at TRACE level -->
        <Logger name="com.thoughtbend" level="trace"></Logger>
        <Logger name="org.hibernate" level="trace"></Logger>
    </Loggers>
 
</Configuration>